# From Flavortown (https://flavortown.hackclub.com), sign in and go to either campfire, explore, projects, vote or shop.
# Open Inspect Element and open the network tab.
# Refresh the page, preferrably without cache.
# There should be new items coming into the network tab.
# Click on the first one.
# Go to Request headers and right click on the Cookie: cf_clearance=...
# Copy the value and paste it here.
NON_USER_BASED_FT_COOKIE=