@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lesser-50-foreground: #313131;
  --lesser-100-foreground: #474747;
  --lesser-200-foreground: #636363;
  --blur-xss: 2px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-yellow-300: oklch(72.822% 0.14798 96.732);
    --color-blue-500: lab(45.38% 8.76 -52.75);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #e2e2e2;
    --lesser-50-foreground: #c0c0c0;
    --lesser-100-foreground: #a3a3a3;
    --lesser-200-foreground: #6e6e6e;
  }
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a.pre {
  color: var(--color-blue-500);
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

hr {
  border-top-width: 2px;
}

th, td {
  text-align: left;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 4);
}

th {
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 4) calc(var(--spacing) * 1) calc(var(--spacing) * 4);
}

tr:last-of-type td {
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 4) calc(var(--spacing) * 3) calc(var(--spacing) * 4);
}

thead, tbody {
  margin: calc(var(--spacing) * 2);
}

.text-lesser-50 {
  color: var(--lesser-50-foreground);
}

.text-lesser-100 {
  color: var(--lesser-100-foreground);
}

.text-lesser-200 {
  color: var(--lesser-200-foreground);
}

.flex-flow-col {
  flex-flow: column;
}

.hover-invert-btn, .hover-lift-div, .lesser-hover-lift-div, .hover-lift-btn {
  transition: all 400ms ease;
}

.hover-invert-btn:hover {
  color: var(--background);
  background-color: var(--foreground);
}

.hover-lift-div:hover {
  transform: translateY(-8px);
  rotate: 0.25deg;
}

.lesser-hover-lift-div:hover {
  transform: translateY(-4px);
  rotate: 0.3deg;
}

.hover-lift-btn:hover {
  transform: translateY(-2px);
  rotate: 1deg;
}

.max-w-half {
  max-width: 50%;
}

.blur-xxs {
  --tw-blur: blur(var(--blur-xss) /* 2px */);
  filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,);
}