@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lesser-foreground: #313131; /* minor version */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #e2e2e2;
  }
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border-top-width: 2px;
}

.flex-flow-col {
  flex-flow: column;
}

.hover-invert-btn {
  transition: all 400ms ease;
}

.hover-invert-btn:hover {
  color: var(--background);
  background-color: var(--foreground);
}
