@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lesser-50-foreground: #313131;
  --lesser-100-foreground: #474747;
  --lesser-200-foreground: #636363;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-yellow-300: oklch(55.362% 0.11098 97.114);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #e2e2e2;
    --lesser-50-foreground: #c0c0c0;
    --lesser-100-foreground: #a3a3a3;
    --lesser-200-foreground: #6e6e6e;
  }
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
}

hr {
  border-top-width: 2px;
}

th, td {
  text-align: left;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 4);
}

th {
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 4) calc(var(--spacing) * 1) calc(var(--spacing) * 4);
}

tr:last-of-type td {
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 4) calc(var(--spacing) * 3) calc(var(--spacing) * 4);
}

thead, tbody {
  margin: calc(var(--spacing) * 2);
}

.text-lesser-50 {
  color: var(--lesser-50-foreground);
}

.text-lesser-100 {
  color: var(--lesser-100-foreground);
}

.text-lesser-200 {
  color: var(--lesser-200-foreground);
}

.flex-flow-col {
  flex-flow: column;
}

.hover-invert-btn {
  transition: all 400ms ease;
}

.hover-invert-btn:hover {
  color: var(--background);
  background-color: var(--foreground);
}

.max-w-half {
  max-width: 50%;
}